# =========================
# Protected Information
# =========================
/scratch/


# =========================
# Large Files
# =========================


# =========================
# R-specific Files
# =========================
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# R Environment Variables
.Renviron

# Quarto preview files
_site/
site_libs/

