name=WISPR
prefix=ws
cmdprefix=$WS_
baud=9600
voltage=10
current=.018
warmup=7000
timeout=30000
prompt=W>
clock-set="%{$TME,%s*ff}%r%{$TME,%s*ff}%r$GMP,s*ff%r"
clock-sync=gps2
datatype=z
start="%{$TME,%s*ff}%r$GMP,%a*ff%r$RUN*ee%r"
stop="$EXI*a6%r%9%9%9%9%9%9%9%9%9%9%9%9%9%9%9%9%9%9%9%9%9%9"
download="%{$TME,%s*ff}%r$GMP,s*ff%r$DTX*ff%r"