/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

/*-- color definitions --*/
$beaver-orange:     #D73F09 !default;
$seaglider-yellow:  #FFEE00 !default;
$stratosphere:      #006A8E !default;
$star-canvas:       #003B5C !default;
$rogue-wave:        #0D5257 !default;
$crater:            #8E9089 !default;
$pine-stand:        #4A773C !default;
$high-desert:       #7A6855 !default;


/*-- create border for images --*/
.bordered-image {
  border: 3px solid black;
  padding: 5px;
  border-radius: 6px; /* Optional for rounded corners */
}