/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

/*-- color definitions --*/
$beaver-orange:     #D73F09 !default;
$seaglider-yellow:  #FFEE00 !default;
$stratosphere:      #006A8E !default;
$star-canvas:       #003B5C !default;
$rogue-wave:        #0D5257 !default;
$crater:            #8E9089 !default;
$pine-stand:        #4A773C !default;
$high-desert:       #7A6855 !default;

/*-- NOAA Fisheries brand colors --*/
$midnight-sky:      #001743 !default;
$twiglight-sky:     #002364 !default;

$deep-sea-blue:     #00559B !default;
$medium-sea-blue:   #056FB7 !default;
$noaa-sea:          #0085CA !default;
$light-sea-blue:    #5EB6D9 !default;
$pale-sea-blue:     #C6E6F0 !default;

$whale-gray:        #323C46 !default;
$dove-gray-1:       #A5AAAF !default;
$dove-gray-2:       #CBCFD1 !default;
$gray-tint-3:       #F1F2F3 !default;
$gull-white:        #FFFFFF !default;

$dark-teal:         #005E5E !default;
$fisheries-teal:    #00797F !default;
$waves:             #1EBEC7 !default;
$pale-teal:         #90DFE3 !default;
$dark-seagrass:     #365E17 !default;     
$seagrass:          #4B8320 !default;
$vivid-seagrass:    #76BC21 !default;
$bright-seagrass:   #B1DC6B !default;
$dark-urchin:       #3B469A !default;
$urchin:            #5761C0 !default;
$vivid-urchin:      #737BE6 !default;
$bright-urchin:     #A8B8FF !default;
$dark-crustacean:   #853B00 !default;
$crustacean:        #DB6015 !default;
$vivid-crustacean:  #FF8400 !default;
$bright-crustacean: #FFAB38 !default;
$dark-coral:        #901200 !default;
$coral:             #B71300 !default;
$vivid-coral:       #DB2207 !default;
$bright-coral:      #FF6C57 !default;



/*-- create border for images --*/
.bordered-image {
  border: 3px solid black;
  padding: 5px;
  border-radius: 6px; /* Optional for rounded corners */
}